#regions-table {
    padding: 0 10%;

    margin-top: 9vh;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.region-container {
    flex: 0 0 calc(33% - 20px);
    box-sizing: border-box;
    border-radius: 30px;
    padding: 1%;
    text-align: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: none;
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    color: white;
    cursor: pointer;
    padding-top: 1.5%;
}

.region-container:hover {
    cursor: pointer;
    transform: scale(105%);

    outline: 1px var(--border-pokemon-container) solid;

    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.region-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: inherit;
    z-index: 0;
}

.region-container > *{
    z-index: 1;
}

.starters{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.starters img{
    width: 15%;
}

.region-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 660px){
    #regions-table{
        padding: 0 5%;
        flex-direction: column;
        margin-bottom: 3vh;
        padding-bottom: 10%;
    }
    .region-container{
        padding:  2.5% 5%;
    }
}